[submodule "Lucky/Vendor/spdlog"]
	path = Lucky/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lucky/Vendor/GLFW"]
	path = Lucky/Vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Lucky/Vendor/imgui"]
	path = Lucky/Vendor/imgui
	url = https://github.com/LuckyGhostStudio/imgui
[submodule "Lucky/Vendor/glm"]
	path = Lucky/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Lucky/Vendor/yaml-cpp"]
	path = Lucky/Vendor/yaml-cpp
	url = https://github.com/LuckyGhostStudio/yaml-cpp
[submodule "Lucky/Vendor/ImGuizmo"]
	path = Lucky/Vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Lucky/Vendor/assimp"]
	path = Lucky/Vendor/assimp
	url = https://github.com/assimp/assimp.git
